<p>hello {{username}}</p>
<p>Answer all the questions and submit the test</p>
<form #formData = "ngForm">
  

<div *ngFor="let question of questions; let i = index" >
  <p>{{i + 1}}. {{question.question}} </p>
    <div *ngFor="let answer of question.answers; let j = index">
      <input type="radio"  name="scores{{i}}" value="{{answer.value}}" required [(ngModel)]="scores[i].value">{{answer.answer}}
    </div>
</div>

<button [routerLink]="['/']">Cancel</button><button [disabled]="!formData.valid" (click)="submitTest(formData)">Submit</button>
</form>